{% extends "base.html" %}

{% block title %}
  Participate
{% endblock %}

{% block content %}
  <div>
    <h1 class="center">Welcome, {{ user.username }}! </h1>
      <h3 class="center">You have selected the event {{ event.event_name }}</h3>
    <br>
      <div>
        <form method="post" action="">
        {% csrf_token %}
    <div class="container">
    <br>
        <div class="form-group row">
            <label class="col-sm-1 col-form-label"></label>
                <div class="col-sm-4">
                    <h3>Enter your team name to participate</h3>
                </div>
        </div>
      <div class="form-group row">
        <label class="col-sm-2 col-form-label">Team Name:</label>
        <div class="col-sm-4">
          {{ form.team_name }}
        </div>
      </div>
    <div class="form-group row">
    <label class="col-sm-1 col-form-label"></label>
    <div class="col-sm-4">
    <button type="submit" class="btn btn-primary">Add Members</button>
    </div>
  </div>
    </div>
</form>


      </div>
  </div>
{% endblock content %}